.new-req {
  padding: 20px;
  max-width: 550px;
  margin: auto;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.btn-save {
  margin-top: 20px;
  padding: 10px 20px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 10px;
}
