.title {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.card {
  background: white;
  padding: 22px;
  border-radius: 16px;
  border-left: 6px solid;
  display: flex;
  gap: 15px;
  align-items: center;
  box-shadow: 0 5px 14px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-4px);
}

.icon {
  font-size: 33px;
}

.info h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.info p {
  margin: 0;
  color: #6b7280;
}
