.dashboard {
  padding: 25px;
  direction: rtl;
}

/* خوش آمد */
.welcome {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

/* کارت‌ها */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 18px;
  margin-bottom: 25px;
}

.stat-card {
  background: white;
  padding: 18px;
  border-radius: 14px;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
  transition: .3s;
}

.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 22px rgba(0,0,0,0.12);
}

.icon {
  width: 55px;
  height: 55px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-left: 15px;
}

.details h3 {
  margin: 0;
  font-size: 24px;
}

.details p {
  margin: 0;
  color: gray;
}

/* نمودار */
.chart-box {
  background: white;
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 25px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

.chart-box img {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

/* جدول */
.table-box {
  background: white;
  padding: 22px;
  border-radius: 14px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table th,
table td {
  padding: 12px 10px;
  text-align: center;
}

thead {
  background: #f3f4f6;
  font-weight: bold;
}

.status {
  padding: 5px 12px;
  border-radius: 10px;
  color: white;
  font-size: 13px;
}

.status.pending { background: orange; }
.status.accepted { background: green; }
.status.rejected { background: red; }
