<div class="layout">

  <!-- Sidebar -->
  <aside class="sidebar">

    <div class="logo">
      <span>⚡</span>
      <h2>AshkanHR</h2>
    </div>

    <nav class="menu">

      <ng-container *ngFor="let item of menu">
        <li>
          <a [routerLink]="item.link">{{ item.icon }} {{ item.title }}</a>
        </li>
      </ng-container>

    </nav>

  </aside>

  <!-- Content -->
  <div class="content-area">

    <header class="header">

      <div class="user-box">
        <span class="name">{{ userName }}</span>
        <span class="role">({{ userRole }})</span>
      </div>

      <button class="logout-btn" (click)="logout()">
        خروج
      </button>

    </header>

    <main class="main">
      <router-outlet></router-outlet>
    </main>

  </div>

</div>
