/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');


body.dark .table th {
  background: #222;
  color: #ddd;
}

body.dark .table td {
  border-color: #444;
}

body.dark .modal-box {
  background: #222;
  color: #eee;
}

body.dark .input {
  background: #111;
  border-color: #444;
  color: #fff;
}

body.dark .btn-primary {
  background: #2563eb;
}
