.profile {
  padding: 20px;
  direction: rtl;
  font-family: IRANSans;
}

.top {
  display: flex;
  gap: 20px;
}

.info-box {
  background: #fff;
  padding: 18px;
  width: 35%;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0,0,0,.06);
}

.email {
  opacity: .6;
  margin-bottom: 10px;
}

.skills span {
  background: #e8f0ff;
  padding: 4px 10px;
  margin-left: 5px;
  border-radius: 8px;
}

.resume-box {
  flex: 1;
  background: #fff;
  padding: 18px;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0,0,0,.06);
}

.resume {
  width: 100%;
  height: 420px;
  border-radius: 10px;
  border: none;
}

.title {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 20px;
}

.timeline .item {
  position: relative;
  padding-right: 25px;
  margin-bottom: 18px;
}

.timeline .dot {
  width: 12px;
  height: 12px;
  background: #0f62fe;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 5px;
}

.timeline .content {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
}

.add-note textarea {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  padding: 10px;
}

.note {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
